# Backup files
*~
*.bak
*.sav
*.bck

# Editor temp files
.*.swp
.swp

# Gradle
.gradle
/caches
/native
gradle/wrapper/dists/

# Build output directories
build

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin
.recommenders/

# Profiler and heap dumps
*.jps
*.hprof

# Miscellaneous
nohup.out
*.log
deployment/*/*.svg
Version.properties

# Jetbrains IDEA
.idea
*.iml
*.ipr
*.iws
*.ids
out/
